---
import ResetCSS from "@appzic/astro-reset-css";

import "../styles/common.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;

// Check current locale by parsing the URL
const locale = Astro.url.pathname.includes("/global") ? "en" : "ko";
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark light" />

    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link
      rel="preconnect"
      href="https://cdn.jsdelivr.net"
      crossorigin="anonymous"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/ayaan-fonts/product-sans@main/fonts/webfonts/Product-Sans.min.css"
    />
    {
      locale === "ko" && (
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css"
        />
      )
    }
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/toss/tossface@v1.6.1/dist/tossface.css"
    />

    <ResetCSS />
  </head>

  <body>
    <slot />
  </body>
</html>
